* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #000000;
}

nav {
    height: 100px;
    width: 100%;
    background-color: #2c2c2c;
    box-shadow: 0 3px 15px #8400ff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-line, .nav-line-2 {
height: 150px;
width: 20px;
background-color: #8400ff;
rotate: 40deg;
border: inset #000000;
z-index: 3;
}
.nav-line {
    position: relative; left:72%; right: 0;
}
.nav-line-2 {
    position: relative; left:67%; right: 0;
}
.lightLine, .lightLine-2 {
    height: 2000px;
    width: 100px;
    background-color: #505050;
    border: inset 2px #000000;
    rotate: 80deg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 15px #000000;
    z-index: 2;
}
.lightLine {
    position: relative; left:70%; right: 0; top: 20px;
    z-index: 2;
}
.lightLine-2 {
    position: relative; left:20%; right: 0;
    z-index: 1;
}
.white-line {
    height: 1500px;
    width: 25px;
    background-color: #ffffff;
    position: relative; left: 20%; top: 15%;
    box-shadow: 0 3px 15px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.single-black-line, .single-black-line-2 {
    height: 1200px;
    width: 2px;
    background-color: #000000;
    rotate: -85deg;
    z-index: 1;
}
.single-black-line {
    position: relative; left: 60%;
}
.single-black-line-2 {
    position: relative; left: 25%;

}
.color-line {
    height: 1200px;
    width: 10px;
    background-color: #8400ff;
    position: relative; right: 10%; bottom: 20%;
    box-shadow: 0 3px 15px #000000;
}
.logo-nav {
    position:static; left: 0; right: 10px;
    margin-left: 3%;
    height: 80px;
    width: 200px;
    overflow: hidden;
    background-color: #1c1c1c;
    border-radius: 20px;
    border: solid 1px #8400ff;
    box-shadow: 0 3px 15px #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



header {
    position: relative; top: 40px;
    height: 55px;
    width: 100%;
    background-color: #2c2c2c;
    box-shadow: 0 3px 15px #8400ff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.white-line-header, .white-line-header-2 {
    height: 700px;
    width: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 25px #000000;
}
.white-line-header {
    rotate: -82deg;
    position: relative; right: 20%;
}
.white-line-header-2 {
    rotate: 82deg;
    position: relative; left: 20%;
}
.black-line-header, .black-line-header-2, .black-line-header-3, .black-line-header-4 {
    height: 700px;
    width: 2px;
    background-color: #000000;
}
.black-line-header{
    rotate: -76deg;
    position: relative; right: 7%;
}
.black-line-header-2 {
    rotate: -85deg;
    position: relative; right: 42%;
}
.black-line-header-3 {
    rotate: 76deg;
    position: relative; left: 5%;
}
.black-line-header-4 {
    rotate: 85deg;
    position: relative; left: 39%;
}
.menu-balk-opties {
    gap: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home, .contacten, .shop, .games {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 2px #FFFFFF;
}



.eerteBlok-main {
    position: relative; top: 120px;
    height: 800px;
    width: 85%;
    background-color: #2c2c2c;
    border-radius: 30px;
    border: #FFFFFF;
    box-shadow: 0 3px 15px #8400ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.title-eersteBlok-main {
        height: 100px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.OverOns {
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 2px #8400ff;
    border-top: solid 2px #8400ff;
}
.ontwerp-box-eersteblok-Main {
    height: 700px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lightline-eersteBlok-main, .lightline-eersteBlok-main-2, .lightline-eersteBlok-main-3, .lightline-eersteBlok-main-4 {
    height: 600px;
    width: 80px;
    background-color: #505050;
    box-shadow: 0 3px 15px #000000;
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: end;
    z-index: 2;
}
.lightline-eersteBlok-main-3, .lightline-eersteBlok-main-4 {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: start;
}
.lightline-eersteBlok-main {
    rotate: -60deg;
    position: relative; right: 15px; bottom: 85px;
}
.lightline-eersteBlok-main-2 {
    rotate: 60deg;
    position: relative; right: 15px; top: 75px;
}
.lightline-eersteBlok-main-3 {
    rotate: 62deg;
    position: relative; left: 10px; bottom: 18px;
}
.lightline-eersteBlok-main-4 {
    rotate: -60deg;
    position: relative; right: 15px; top: 110px;
}
.purple-line-eersteBlok-main, .purple-line-eersteBlok-main-2, .purple-line-eersteBlok-main-3, .purple-line-eersteBlok-main-4 {
    height: 900px;
    width: 30px;
    background-color: #8400ff;
    z-index: 3;
}
.black-line-eersteBlok-main, .black-line-eersteBlok-main-2, .black-line-eersteBlok-main-3, .black-line-eersteBlok-main-4 {
    height: 1200px;
    width: 2px;
    background-color: #000000;
}
.black-line-eersteBlok-main {
    rotate: -60deg;
    position: relative; bottom: 250px;
}
.black-line-eersteBlok-main-2 {
    rotate: 60deg;
    position: relative; top: 270px; 
}
.black-line-eersteBlok-main-3 {
    rotate: 60deg;
    position: relative; bottom: 230px;
}
.black-line-eersteBlok-main-4 {
    rotate: -60deg;
    position: relative; top: 280px;
}
.text-blok {
    position: relative; top: 25px;
    height: 500px;
    overflow: hidden;
    width: 60%;
    background-color: #8d8d8d;
    box-shadow: 0 3px 15px #000000;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.white-line-eersteBlok-main, .white-line-eersteBlok-main-2, .white-line-eersteBlok-main-3, .white-line-eersteBlok-main-4 {
    height: 250px;
    width: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 15px #000000;
}
.white-line-eersteBlok-main {
    position: relative; right: 37%; bottom: 37%;
    rotate: 45deg;
}
.white-line-eersteBlok-main-2 {
    position: relative; right: 38%; top: 37%;
    rotate: -45deg;
}
.white-line-eersteBlok-main-3 {
    position: relative; left: 38%; bottom: 37%;
    rotate: -45deg;
}
.white-line-eersteBlok-main-4 {
    position: relative; left: 37%; top: 37%;
    rotate: 45deg;
}


.tweedeblok-main {
    position: relative; top: 200px;
    height: 800px;
    width: 85%;
    background-color: #2c2c2c;
    border-radius: 30px;
    border: #FFFFFF;
    box-shadow: 0 3px 15px #8400ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}